---
layout: default
title: zvvn - Home
---

{% for post in paginator.posts %}
<div class="row">
    <!-- Main Blog Content -->
	<div class="large-12 columns" role="content">
	    <h3><a href="{{ post.url}}"><font color="#0000">{{ post.title }}</font></a></h3>
   		<h6 class="subheader">Posted on {{ post.date | date_to_long_string }}</h6>
   		<p>{% if post.description %}{{ post.description}}
   		{% else %}
   		{{ post.content | strip_html | strip_newlines | truncate: 120}}
   		<!-- {{ post.content }} -->
   		{% endif %}</p>
    </div>
</div>
{% endfor %}

<div class="row">
	<div class="large-12 columns" role="content">
		<div class="pagination-centered">
  			<ul class="pagination">
  				{% if paginator.previous_page %}
  					{% if paginator.previous_page == 1 %}
    					<li class="arrow"><a href="/">&laquo;</a></li>
    				{% else %}
    					<li class="arrow"><a href="/page{{ paginator.previous_page }}">&laquo;</a></li>
    				{% endif %}
    			{% else %}
    					<li class="arrow unavailable"><a href="">&laquo;</a></li>
    			{% endif %}
    			{% if paginator.page == 1 %}
    				<li class="current"><a href="">1</a></li>
    				{% else %}
    				<li><a href="/">1</a></li>
    			{% endif %}
    			{% for count in (2..paginator.total_pages) %}
    				{% if count == paginator.page %}
    					<li class="current"><a href="">{{ count }}</a></li>
    				{% else %}
    					<li><a href="/page{{ count }}">{{ count }}</a></li>
    				{% endif %}
    			{% endfor %}
    			{% if paginator.next_page %}
    				<li class="arrow"><a href="/page{{ paginator.next_page }}">&raquo;</a></li>
    			{% else %}
    				<li class="arrow unavailable"><a href="">&raquo;</a></li>
    			{% endif %}
    		</ul>
    	</div>
	</div>
</div>