<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ site.title }}</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
	
	
	<!-- Nav Bar -->
 
  <div class="row">
    <div class="large-12 columns">
      <h1>{{ site.name }}<small> This is my blog. It's awesome.</small></h1>
	  
		<nav class="breadcrumbs">
			<a href="/">Home</a>
			<a href="#">Example</a>
			<a class="unavailable" href="#">Unavailable Example</a>
			<a class="current" href="#">Current Example</a>
		</nav>
		<br/>
		
    </div>
  </div>
 
  <!-- End Nav -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
    