{% include header.html %}

<div class="row">
<div class="large-12 columns">

{{ content }}

 {% for post in site.posts %}  
  {% unless post.next %}
    <h3>{{ post.date | date: '%Y' }}</h3>
    <hr />
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
        <hr />
      {% endif %}
    {% endunless %}
      <h5 class="subheader"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><font color="#0000">{{ post.title }}</font></a></h5>
    {% endfor %}

</div>
</div>

{% include footer.html %}